body{
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}
.tech{
    width:90%;
    height: auto;
    margin: 0 auto;
    margin-top: 10px;
}
.tech .list-business{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: center;
    gap: 100px;
}
.tech .list-business a{
    font-weight: bold;
}
.tech .list-business a:hover{
    text-decoration: underline;
}
.tech .markets{
    width: 100%;
    height: 120px;
    display: flex;
    border-bottom: 1px solid #d4d0d0;
}
/*1*/
.tech .markets #markets{
    width: 30%;
    height: auto; 
    font-size: 13px;
    border-right: 1px solid #d4d0d0;
}
.tech .markets #markets .title{
    font-weight: bold;
}
.tech .markets #markets .title a{
    text-decoration: none;
}
.tech .markets #markets .title img{
    width: 20px;
    height: 20px;
    position: relative;
    top: 6px;
}
.tech .markets #markets .stock-market{
    display: flex;
    margin-top: 10px;
}
.tech .markets #markets .stock-market .name-stock{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    font-weight: bold;
}

.tech .markets #markets .stock-market .shares{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.tech .markets #markets .stock-market .bull-market{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.tech .markets #markets .stock-market .bull-market a img{
    width: 13px;
}

/**/
.tech .markets .fear{
    width: 30%;
    height: auto;
    font-size: 13px;
    border-right: 1px solid #d4d0d0;
    padding-left: 10px;
}
.tech .markets .fear .title{
    font-weight: bold;
}
.tech .markets .fear .title img{
    width: 20px;
    height: 20px;
    position: relative;
    top: 6px;
}
.tech .markets .fear .extreme{
    width: 100%;
    height: auto;
    display: flex;
}
.tech .markets .fear .extreme img{
    width: 80px;
    height: 80px;
    position: relative;
    top: 10px;
    left: 20px;
}
.tech .markets .fear .extreme a{
    position: relative;
    left: 50px;
    top: 20px;
}
/**/
.tech .markets .latest{
    width: 40%;
    height: auto;
    font-size: 13px;
    padding-left: 10px;
}
.tech .markets .latest .title{
    font-weight: bold;
}
.tech .markets .latest .title img{
    width: 20px;
    height: 20px;
    position: relative;
    top: 6px;
}
.tech .markets .latest .title-latest{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding-top: 10px;
}
/***********************/
.tech .text-tech{
    padding-top: 20px;
    font-size: 40px;
    font-weight: bold;
}
.tech .news{
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 30px;
}
/**/
.tech .news .news-left{
    width: 40%;
    height: auto;
    margin: 0 auto
}
.tech .news .news-left a img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: opacity 0s ease-in-out;
}
.tech .news .news-left a img:hover{
    opacity: 0.7;
}
.tech .news .news-left a{
    width: 100%;
    height: auto;
    font-size: 20px;
    font-weight: bold;
}
.tech .news .news-left a:hover{
    text-decoration: underline;
}
.tech .news .news-left .newsmax{
    width: 100%;
    height: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}
.tech .news .news-left .newsmax .newsmax-title{
    display: flex;
    justify-content: center;
    gap: 20px;
    border-top: 1px solid #ccc;
}
.tech .news .news-left .newsmax .newsmax-title img{
    width: 20%;
    height: 20%;
    position: relative;
    top: 15px;
    border-radius: 5px;
}
.tech .news .news-left .newsmax .newsmax-title a{
    font-weight: normal;
    font-size: 17px;
    position: relative;
    top: 15px;
}
.tech .news .news-left .newsmax .newsmax-title a:hover{
    text-decoration: underline;
}
/**/
.tech .news .news-right{
    width: 30%;
    height: auto;
    display: flex; 
    flex-direction: column;
    gap: 25px;
}.tech .news .news-right .news-right-title{
    display: flex;
    flex-direction: column;
}
.tech .news .news-right .news-right-title a {
    font-size: 20px;
    font-weight: bold;
}
.tech .news .news-right .news-right-title a:hover{
    text-decoration: underline;
}
.tech .news .news-right .news-right-title a img{
    width: 100%;
    height: auto;
    border-radius: 5px;
    transition: opacity 0s ease-in-out;
}
.tech .news .news-right .news-right-title a img:hover{
    opacity: 0.7;
}
/**/
.tech .news .advertise{
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.tech .news .advertise .news-right-title{
    display: flex;
    flex-direction: column;
}
.tech .news .advertise .news-right-title a {
    font-size: 20px;
    font-weight: bold;
}
.tech .news .advertise .news-right-title a:hover{
    text-decoration: underline;
}
.tech .news .advertise .news-right-title a img{
    width: 100%;
    height: auto;
    border-radius: 5px;
    transition: opacity 0s ease-in-out;
}
.tech .news .advertise .news-right-title a img:hover{
    opacity: 0.7;
}
/**/
.tech .what-to-watch{
    width: 100%;
    height: 400px;
    margin-top: 100px;
}
.tech .what-to-watch .name-title{
    font-size: 40px;
    font-weight: bold;
}
.tech .what-to-watch .what-news{
    width: 100%;
    height: auto;
    display: flex;
    gap: 20px;
}
.tech .what-to-watch .what-news .news{
    width: 25%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.tech .what-to-watch .what-news .news a img{
    width: 100%;
    height: 200px;
    border-radius: 5px;
    transition: opacity 0s ease-in-out;
}
.tech .what-to-watch .what-news .news a img:hover{
    opacity: 0.7;
}
.tech .what-to-watch .what-news .news a{
    font-size: 17px;
    font-weight: normal;
    position: relative;
}
.tech .what-to-watch .what-news .news a:hover{
    text-decoration: underline;
}