body{
    margin: 0 auto;
    padding-top: 70px;
}
h1{
    font-size: 40px;
}
.container1{
    width: auto;
    /* height: 1000px; */
   
    display: flex;
    justify-content: space-between;
}
.container1 .list-news1{
    width: 700px;

}
.sidebar-new1{
    display: flex;
}
.sidebar-new1 h4{
    padding: 15px;
}
.container1 .list-news2{
    width: 300px;
}
.container1 .list-news3{
    width: 300px;
}

.container2 {
    justify-content: space-between;
    display: flex;
}
.container2 .list-news4{
    width: 300px;
}
.container3{
    display: flex;
    justify-content: space-evenly;
}
.container3 .list-news5{
    width: 500px;
   
}
.container3 .list-news6{
    width: 300px;
}
.container4{
    display: flex;
    justify-content: space-evenly;
}
.container4 .list-news5{
    width: 500px;
   
}
.container4 .list-news6{
    width: 300px;
}