body{
    margin: 0 auto;
}
.business{
    width:90%;
    height: auto;
    margin: 0 auto;
    margin-top: 10px;
}
.business .markets{
    width: 100%;
    height: 120px;
    display: flex;
}
/**/
.business .markets #markets{
    width: 30%;
    height: auto; 
    font-size: 13px;
    border-right: 1px solid #d4d0d0;
}
.business .markets #markets .title{
    font-weight: bold;
}
.business .markets #markets .title a{
    text-decoration: none;
}
.business .markets #markets .title img{
    width: 20px;
    height: 20px;
    position: relative;
    top: 6px;
}
.business .markets #markets .stock-market{
    display: flex;
    margin-top: 10px;
}
.business .markets #markets .stock-market .name-stock{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    font-weight: bold;
}

.business .markets #markets .stock-market .shares{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.business .markets #markets .stock-market .bull-market{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.business .markets #markets .stock-market .bull-market a img{
    width: 13px;
}

/**/
.business .markets .fear{
    width: 30%;
    height: auto;
    font-size: 13px;
    border-right: 1px solid #d4d0d0;
    padding-left: 10px;
}
.business .markets .fear .title{
    font-weight: bold;
}
.business .markets .fear .title img{
    width: 20px;
    height: 20px;
    position: relative;
    top: 6px;
}
.business .markets .fear .extreme{
    width: 100%;
    height: auto;
    display: flex;
}
.business .markets .fear .extreme img{
    width: 20%;
    height: auto;
    position: relative;
    top: 10px;
    left: 20px;
}
.business .markets .fear .extreme a{
    position: relative;
    left: 50px;
    top: 20px;
}
/**/
.business .markets .latest{
    width: 40%;
    height: auto;
    font-size: 13px;
    padding-left: 10px;
}
.business .markets .latest .title{
    font-weight: bold;
}
.business .markets .latest .title img{
    width: 20px;
    height: 20px;
    position: relative;
    top: 6px;
}
.business .markets .latest .title-latest{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding-top: 10px;
}
