body{
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}
.business{
    width:90%;
    height: auto;
    margin: 0 auto;
    margin-top: 10px;
}
.business .markets{
    width: 100%;
    height: 120px;
    display: flex;
    border-bottom: 1px solid #d4d0d0;
}
/*1*/
.business .markets #markets{
    width: 30%;
    height: auto; 
    font-size: 13px;
    border-right: 1px solid #d4d0d0;
}
.business .markets #markets .title{
    font-weight: bold;
}
.business .markets #markets .title a{
    text-decoration: none;
}
.business .markets #markets .title img{
    width: 20px;
    height: 20px;
    position: relative;
    top: 6px;
}
.business .markets #markets .stock-market{
    display: flex;
    margin-top: 10px;
}
.business .markets #markets .stock-market .name-stock{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    font-weight: bold;
}

.business .markets #markets .stock-market .shares{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.business .markets #markets .stock-market .bull-market{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.business .markets #markets .stock-market .bull-market a img{
    width: 13px;
}

/**/
.business .markets .fear{
    width: 30%;
    height: auto;
    font-size: 13px;
    border-right: 1px solid #d4d0d0;
    padding-left: 10px;
}
.business .markets .fear .title{
    font-weight: bold;
}
.business .markets .fear .title img{
    width: 20px;
    height: 20px;
    position: relative;
    top: 6px;
}
.business .markets .fear .extreme{
    width: 100%;
    height: auto;
    display: flex;
}
.business .markets .fear .extreme img{
    width: 20%;
    height: auto;
    position: relative;
    top: 10px;
    left: 20px;
}
.business .markets .fear .extreme a{
    position: relative;
    left: 50px;
    top: 20px;
}
/**/
.business .markets .latest{
    width: 40%;
    height: auto;
    font-size: 13px;
    padding-left: 10px;
}
.business .markets .latest .title{
    font-weight: bold;
}
.business .markets .latest .title img{
    width: 20px;
    height: 20px;
    position: relative;
    top: 6px;
}
.business .markets .latest .title-latest{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding-top: 10px;
}
/***********************/
.business .news{
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 30px;
}
/**/
.business .news .news-left{
    width: 60%;
    height: auto;
    margin: 0 auto
}
.business .news .news-left a img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: opacity 0s ease-in-out;
}
.business .news .news-left a img:hover{
    opacity: 0.7;
}
.business .news .news-left a{
    width: 100%;
    height: auto;
    font-size: 20px;
    font-weight: bold;
}
.business .news .news-left a:hover{
    text-decoration: underline;
}
.business .news .news-left .newsmax{
    width: 100%;
    height: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}
.business .news .news-left .newsmax .newsmax-title{
    display: flex;
    justify-content: center;
    gap: 20px;
    border-top: 1px solid #ccc;
}
.business .news .news-left .newsmax .newsmax-title img{
    width: 20%;
    height: 20%;
    position: relative;
    top: 15px;
    border-radius: 5px;
}
.business .news .news-left .newsmax .newsmax-title a{
    font-weight: normal;
    font-size: 17px;
    position: relative;
    top: 15px;
}
.business .news .news-left .newsmax .newsmax-title a:hover{
    text-decoration: underline;
}
/**/
.business .news .news-right{
    width: 30%;
    height: auto;
}
.business .news .news-right a img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: opacity 0s ease-in-out; 
}
.business .news .news-right a img:hover{
    opacity: 0.7;
}
.business .news .news-right a{
    font-weight: bold;
    font-size: 20px;
}
.business .news .news-right a:hover{
    text-decoration: underline;
}
.business .news .news-right .news-right-title{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
.business .news .news-right .news-right-title a{
    font-weight: normal;
    font-size: 17px;
    border-top: 1px solid #ccc;
    padding-top: 15px;
    display: inline-block;
}

/**/
.business .news .advertise{
    width: 30%;
    height: auto;
}
.business .news .advertise .text{
    width: 100%;
    height: auto;
    border-left: 5px solid #000;
}
.business .news .advertise .text a{
    font-weight: bold;
    position: relative;
    left: 20px;
    font-size: 20px;
}
.business .news .advertise .button{
    position: relative;
    top: 15px;
    width: 100%;
    max-width: 300px;
    display: flex;
}
.business .news .advertise .button .search-input{
    width: 100%;
    padding: 10px 40px 10px 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
}
.business .news .advertise .button button img{
    width: 70%;
    height: auto;
}

/***********/

.business .what-to-watch{
    width: 100%;
    height: 400px;
    margin-top: 120px;
}
.business .what-to-watch .name-title{
    font-size: 30px;
    font-weight: bold;
}
.business .what-to-watch .what-news{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.business .what-to-watch .what-news .news{
    width: 25%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.business .what-to-watch .what-news .news a img{
    width: 100%;
    height: auto;
    border-radius: 5px;
    transition: opacity 0s ease-in-out;
}
.business .what-to-watch .what-news .news a img:hover{
    opacity: 0.7;
}
.business .what-to-watch .what-news .news a{
    font-size: 17px;
    font-weight: normal;
    position: relative;
}
.business .what-to-watch .what-news .news a:hover{
    text-decoration: underline;
}
/********/
.business .in-case-you-missed-it{
    width: 100%;
    height: auto;
}
.business .in-case-you-missed-it .text{
    font-size: 30px;
    font-weight: bold;
}
.business .in-case-you-missed-it .in-case-you-missed-it-news{
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    top: 20px;
    gap: 20px;
}
/**/
.business .in-case-you-missed-it .in-case-you-missed-it-news .left{
    width: 48%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.business .in-case-you-missed-it .in-case-you-missed-it-news .left a{
    font-size: 17px;
    border-top: 1px solid #ccc;
    padding-top: 15px; /* Đẩy chữ xuống, giữ viền trên */
    display: inline-block;
}
.business .in-case-you-missed-it .in-case-you-missed-it-news .left a:hover{
    text-decoration: underline;
}
.business .in-case-you-missed-it .in-case-you-missed-it-news .left a:nth-child(1){
    border-top: none;
}
.business .in-case-you-missed-it .in-case-you-missed-it-news .left a:nth-child(2){
    font-weight: bold;
    font-size: 20px;
    border-top: none;
}
.business .in-case-you-missed-it .in-case-you-missed-it-news .left a img{
    width: 100%;
    height: auto;
    border-radius: 5px;
    transition: opacity 0s ease-in-out;
}
.business .in-case-you-missed-it .in-case-you-missed-it-news .left a img:hover{
    opacity: 0.7;
}
/**/
.business .in-case-you-missed-it .in-case-you-missed-it-news .right{
    width: 23%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.business .in-case-you-missed-it .in-case-you-missed-it-news .right a{
    font-size: 17px;
    border-top: 1px solid #ccc;
    padding-top: 15px; 
    display: inline-block;
}
.business .in-case-you-missed-it .in-case-you-missed-it-news .right a:hover{
    text-decoration: underline;
}
.business .in-case-you-missed-it .in-case-you-missed-it-news .right a:nth-child(1){
    border-top: none;
}
.business .in-case-you-missed-it .in-case-you-missed-it-news .right a:nth-child(2){
    border-top: none;
    font-size: 20px;
    font-weight: bold;
}
.business .in-case-you-missed-it .in-case-you-missed-it-news .right a img{
    width: 100%;
    height: auto;
    border-radius: 5px;
    transition: opacity 0s ease-in-out;
}
.business .in-case-you-missed-it .in-case-you-missed-it-news .right a img:hover{
    opacity: 0.7;
}
/************/
.business .more-video{
    width: 100%;
    height: auto;
    margin-top: 70px;
}
.business .more-video .text{
    font-size: 30px;
    font-weight: bold;
}
.business .more-video .more-video-news{
    width: 100%; 
    height: auto;
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
/**/
.business .more-video .more-video-news .left{
    width: 50%;
    height: auto;
}
.business .more-video .more-video-news .left a{
    border-radius: 5px solid #ccc;
    font-size: 20px;
    padding-top: 10px;
    display: inline-block;
}
.business .more-video .more-video-news .left a:hover{
    text-decoration: underline;
}
.business .more-video .more-video-news .left a img{
    width: 100%; 
    height: auto;
    transition: opacity 0s ease-in-out;
}
.business .more-video .more-video-news .left a img:hover{
    opacity: 0.7;
}
/**/
.business .more-video .more-video-news .between{
    width: 25%;
    height: auto;

}
.business .more-video .more-video-news .between .b1 a{
    border-radius: 5px solid #ccc;
    font-size: 17px;
    padding-top: 10px;
    display: inline-block;
}
.business .more-video .more-video-news .between .b1 a:hover{
    text-decoration: underline;
}
.business .more-video .more-video-news .between .b2 a{
    border-radius: 5px solid #ccc;
    font-size: 17px;
    padding-top: 20px;
    display: inline-block;
}
.business .more-video .more-video-news .between .b2 a:hover{
    text-decoration: underline;
}
.business .more-video .more-video-news .between a img{
    width: 100%; 
    height: auto;
    transition: opacity 0s ease-in-out;
}
.business .more-video .more-video-news .between a img:hover{
    opacity: 0.7;
}
/**/
.business .more-video .more-video-news .right{
    width: 25%;
    height: auto;
}
.business .more-video .more-video-news .right .r1 a{
    border-radius: 5px solid #ccc;
    font-size: 17px;
    padding-top: 10px;
    display: inline-block;
}
.business .more-video .more-video-news .right .r1 a:hover{
    text-decoration: underline;
}
.business .more-video .more-video-news .right .r2 a{
    font-size: 17px;
    padding-top: 20px;
    display: inline-block;
}
.business .more-video .more-video-news .right .r2 a:hover{
    text-decoration: underline;
}
.business .more-video .more-video-news .right a img{
    width: 100%; 
    height: auto;
    transition: opacity 0s ease-in-out;
}
.business .more-video .more-video-news .right a img:hover{
    opacity: 0.7;
}
/****/
.business .success{
    width: 100%;
    height: auto;
    margin-top: 20px;
}
.business .success .text{
    font-size: 30px;
    font-weight: bold;
}
.business .success .success-news{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.business .success .success-news .news{
    width: 25%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.business .success .success-news .news a img{
    width: 100%;
    height: auto;
    border-radius: 5px;
    transition: opacity 0s ease-in-out;
}
.business .success .success-news .news a img:hover{
    opacity: 0.7;
}
.business .success .success-news .news a{
    font-size: 17px;
    font-weight: normal;
    position: relative;
}
.business .success .success-news .news a:hover{
    text-decoration: underline;
}
/*****/
.business .tech{
    width: 100%;
    height: auto;
    margin-top: 40px;
}
.business .tech .text{
    font-size: 30px;
    font-weight: bold;
}
.business .tech .tech-news{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.business .tech .tech-news .news{
    width: 25%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.business .tech .tech-news .news a img{
    width: 100%;
    height: auto;
    border-radius: 5px;
    transition: opacity 0s ease-in-out;
}
.business .tech .tech-news .news a img:hover{
    opacity: 0.7;
}
.business .tech .tech-news .news a{
    font-size: 17px;
    font-weight: normal;
    position: relative;
}
.business .tech .tech-news .news a:hover{
    text-decoration: underline;
}
/*****/
.business .media{
    width: 100%;
    height: auto;
    margin-top: 40px;
}
.business .media .text{
    font-size: 30px;
    font-weight: bold;
}
.business .media .media-news{
    width: 100%;
    height: auto;
    display: flex;
    gap: 20px;
    position: relative;
}
.business .media .media-news .news{
    width: 25%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.business .media .media-news .news:nth-child(1){
    position: relative;
    bottom: 20px;
}
.business .media .media-news .news a{
    width: 100%;
    height: auto;
}
.business .media .media-news .news a img{
    width: 100%;
    height: auto;
    border-radius: 5px;
    transition: opacity 0s ease-in-out;
}
.business .media .media-news .news a img:hover{
    opacity: 0.7;
}
.business .media .media-news .news a{
    font-size: 17px;
    font-weight: normal;
}
.business .media .media-news .news a:hover{
    text-decoration: underline;
}
/*******/
.business .last{
    width: 100%;
    height: 800px;
}
.business .last .last-news{
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    top: 20px;
    gap: 20px;
}
/**/
.business .last .last-news .left{
    width: 48%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.business .last .last-news .left a{
    font-size: 17px;
    border-top: 1px solid #ccc;
    padding-top: 15px; /* Đẩy chữ xuống, giữ viền trên */
    display: inline-block;
}
.business .last .last-news .left a:hover{
    text-decoration: underline;
}
.business .last .last-news .left a:nth-child(1){
    border-top: none;
}
.business .last .last-news .left a:nth-child(2){
    font-weight: bold;
    font-size: 20px;
    border-top: none;
}
.business .last .last-news .left a img{
    width: 100%;
    height: auto;
    border-radius: 5px;
    transition: opacity 0s ease-in-out;
}
.business .last .last .left a img:hover{
    opacity: 0.7;
}
/**/
.business .last .last-news .between{
    width: 23%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.business .last .last-news .between a{
    font-size: 17px;
    border-top: 1px solid #ccc;
    padding-top: 15px; 
    display: inline-block;
}
.business .last .last-news .between a:hover{
    text-decoration: underline;
}
.business .last .last-news .between a:nth-child(1){
    border-top: none;
}
.business .last .last-news .between a:nth-child(2){
    border-top: none;
    font-size: 20px;
    font-weight: bold;
}
.business .last .last-news .between a img{
    width: 100%;
    height: auto;
    border-radius: 5px;
    transition: opacity 0s ease-in-out;
}
.business .last .last-news .between a img:hover{
    opacity: 0.7;
}
/**/
.business .last .last-news .right{
    width: 23%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.business .last .last-news .right a{
    font-size: 17px;
    border-top: 1px solid #ccc;
    padding-top: 15px; 
    display: inline-block;
}
.business .last .last-news .right a:hover{
    text-decoration: underline;
}
.business .last .last-news .right a:nth-child(1){
    border-top: none;
}
.business .last .last-news .right a:nth-child(2){
    border-top: none;
    font-size: 20px;
    font-weight: bold;
}
.business .last .last-news .right a img{
    width: 100%;
    height: auto;
    border-radius: 5px;
    transition: opacity 0s ease-in-out;
}
.business .last .last-news .right a img:hover{
    opacity: 0.7;
}






