body{
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}
.calculators{
    width:90%;
    height: auto;
    margin: 0 auto;
    margin-top: 10px;
}
.calculators .list-business{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: center;
    gap: 100px;
}
.calculators .list-business a{
    font-weight: bold;
}
.calculators .list-business a:hover{
    text-decoration: underline;
}
.calculators .markets{
    width: 100%;
    height: 120px;
    display: flex;
    border-bottom: 1px solid #d4d0d0;
}
/*1*/
.calculators .markets #markets{
    width: 30%;
    height: auto; 
    font-size: 13px;
    border-right: 1px solid #d4d0d0;
}
.calculators .markets #markets .title{
    font-weight: bold;
}
.calculators .markets #markets .title a{
    text-decoration: none;
}
.calculators .markets #markets .title img{
    width: 20px;
    height: 20px;
    position: relative;
    top: 6px;
}
.calculators .markets #markets .stock-market{
    display: flex;
    margin-top: 10px;
}
.calculators .markets #markets .stock-market .name-stock{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    font-weight: bold;
}

.calculators .markets #markets .stock-market .shares{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.calculators .markets #markets .stock-market .bull-market{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.calculators .markets #markets .stock-market .bull-market a img{
    width: 13px;
}

/**/
.calculators .markets .fear{
    width: 30%;
    height: auto;
    font-size: 13px;
    border-right: 1px solid #d4d0d0;
    padding-left: 10px;
}
.calculators .markets .fear .title{
    font-weight: bold;
}
.calculators .markets .fear .title img{
    width: 20px;
    height: 20px;
    position: relative;
    top: 6px;
}
.calculators .markets .fear .extreme{
    width: 100%;
    height: auto;
    display: flex;
}
.calculators .markets .fear .extreme img{
    width: 80px;
    height: 80px;
    position: relative;
    top: 10px;
    left: 20px;
}
.calculators .markets .fear .extreme a{
    position: relative;
    left: 50px;
    top: 20px;
}
/**/
.calculators .markets .latest{
    width: 40%;
    height: auto;
    font-size: 13px;
    padding-left: 10px;
}
.calculators .markets .latest .title{
    font-weight: bold;
}
.calculators .markets .latest .title img{
    width: 20px;
    height: 20px;
    position: relative;
    top: 6px;
}
.calculators .markets .latest .title-latest{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding-top: 10px;
}
/***********************/
.calculators .text-calculators{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.calculators .text-calculators a:nth-child(1){
    font-weight: bold;
    font-size: 40px;
}
.calculators .text-calculators a:nth-child(2){
    font-size: 18px;
}
.calculators .news{
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 30px;
    padding-bottom: 30px;
}
/**/
.calculators .news .news-left{
    width: 60%;
    height: auto;
    margin: 0 auto
}
.calculators .news .news-left a img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: opacity 0s ease-in-out;
}
.calculators .news .news-left a img:hover{
    opacity: 0.7;
}
.calculators .news .news-left a{
    width: 100%;
    height: auto;
    font-size: 25px;
    font-weight: bold;
}
.calculators .news .news-left a:hover{
    text-decoration: underline;
}
.calculators .news .news-left .newsmax{
    width: 100%;
    height: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}
.calculators .news .news-left .newsmax .newsmax-title{
    display: flex;
    justify-content: center;
    gap: 20px;
    border-top: 1px solid #ccc;
}
.calculators .news .news-left .newsmax .newsmax-title img{
    width: 15%;
    height: 15%;
    position: relative;
    top: 15px;
    border-radius: 5px;
}
.calculators .news .news-left .newsmax .newsmax-title a{
    font-weight: normal;
    font-size: 20px;
    position: relative;
    top: 15px;
}
.calculators .news .news-left .newsmax .newsmax-title a:hover{
    text-decoration: underline;
}
/**/

.calculators .news .news-right{
    width: 40%;
    height: auto;
    display: flex; 
    flex-direction: column;
    gap: 50px;
}
.calculators .news .news-right .more-from-cnn-business{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.calculators .news .news-right .more-from-cnn-business .text a{
    font-size: 20px;
    font-weight: bold;
    border-left: 10px solid #000;
    padding-left: 20px;
}
.calculators .news .news-right .more-from-cnn-business .more-title {
    display: flex; 
    gap: 10px;
    border-top: 1px solid #ccc;
}
.calculators .news .news-right .more-from-cnn-business .more-title a img {
    width: 140px; 
    height: 80px;
    border-radius: 5px;
    transition: opacity 0s ease-in-out;
}
.calculators .news .news-right .more-from-cnn-business .more-title a img:hover{
    opacity: 0.7;
}
.calculators .news .news-right .more-from-cnn-business .more-title a {
    font-size: 16px;
    font-weight: normal;
    position: relative;
    top: 10px;
}
.calculators .news .news-right .more-from-cnn-business .more-title a:hover{
    text-decoration: underline;
}
/**/
.calculators .news .news-right .cnn-business-videos{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.calculators .news .news-right .cnn-business-videos .text a{
    font-size: 20px;
    font-weight: bold;
    border-left: 10px solid #000;
    padding-left: 20px;
}
.calculators .news .news-right .cnn-business-videos .more-title {
    display: flex; 
    gap: 10px;
    border-top: 1px solid #ccc;
}
.calculators .news .news-right .cnn-business-videos .more-title a img {
    width: 140px; 
    height: 80px;
    border-radius: 5px;
    transition: opacity 0s ease-in-out;
}
.calculators .news .news-right .cnn-business-videos .more-title a img:hover{
    opacity: 0.7;
}
.calculators .news .news-right .cnn-business-videos .more-title a {
    font-size: 16px;
    font-weight: normal;
    position: relative;
    top: 10px;
}
.calculators .news .news-right .cnn-business-videos .more-title a:hover{
    text-decoration: underline;
}


