.header {
    width: 100%;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    background: white; /* Thêm nền trắng */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Đổ bóng cho đẹp */
    z-index: 1000;
    padding: 15px 0; /* Điều chỉnh padding */
    box-sizing: border-box; /* Quan trọng! */
}

.header .list-menu{
    width: 90%;
    height: 50px;
    margin: 0 auto;
    border-bottom: 2px solid #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list-menu .list-tilte{
    display: flex;
    gap: 20px;
}
.list-menu .list-tilte img{
    width: 20px;
    height: 20px;
}
.list-tilte a{
    color:#000000;
    font-size: 15px;
    font-weight: bold;
}
.list-tilte a:hover{
    text-decoration: underline;
}
.list-tilte a .more {
    position: relative;
    bottom: 3px;
    display: inline-block;
    cursor: pointer;
}
.list-tilte a .more img{
    position: relative;
    top: 5px;
}
.more-menu {
    width: 180px;
    min-width: 180px;
    height: auto;
    display: none;
    position: absolute;
    top: 100%;
    left: -20px;
    background: white;
    border: 1px solid #ccc;
    list-style: none;
    padding: 10px;
    width: 150px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.more:hover .more-menu {
    display: block;
}
.more-menu li {
    padding: 8px;
    cursor: pointer;
    text-align: left;
}
.more-menu li:hover {
    background-color: #f0f0f0;
}

.list-menu .login{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    
}
.login #login{
    display: flex;
    gap: 3px;
}
#login img{
    width: 17px;
    height: 17px;
}
#login a{
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color:#000000
}

  