body{
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    margin: 0 auto;
    
}
.trangchu {
    width: 100%;
    height: auto; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute; 
    top: 60px; 
    left: 0;
    line-height: 4
}

.trangchu #trangchu {
    width: 90%;
    text-align: center;
    font-size: 15px;
    position: relative;
    top: 25px;
}
#trangchu .breaking-news{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
#trangchu .breaking-news a{
    text-decoration: none;
    font-size: 15px;
    color: black;
}
#trangchu .breaking-news a:hover{
    text-decoration: underline;
}
#trangchu .news{
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2%;
}
.news .slide-bar-left{
    width: 40%;
    border: 1px solid #000;
}
.news .slide-bar-between{
    width: 27%;
    border: 1px solid #000;
}
.news .slide-bar-right{
    width: 27%;
    border: 1px solid #000;
}
